@font-face {
    font-family: 'BlanchCapsRegular';
    src: url('fonts/blanch_caps-webfont.eot');
    src: url('fonts/blanch_caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/blanch_caps-webfont.woff') format('woff'),
         url('fonts/blanch_caps-webfont.ttf') format('truetype'),
         url('fonts/blanch_caps-webfont.svg#BlanchCapsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BlanchCapsInline';
    src: url('fonts/blanch_caps_inline-webfont.eot');
    src: url('fonts/blanch_caps_inline-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/blanch_caps_inline-webfont.woff') format('woff'),
         url('fonts/blanch_caps_inline-webfont.ttf') format('truetype'),
         url('fonts/blanch_caps_inline-webfont.svg#BlanchCapsInline') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PacificoRegular';
    src: url('Pacifico-webfont.eot');
    src: url('Pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('Pacifico-webfont.woff') format('woff'),
         url('Pacifico-webfont.ttf') format('truetype'),
         url('Pacifico-webfont.svg#PacificoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* FONT & TEXT STYLES */

/* h1 */
/* Default */
h1 {
  font-family: 'BlanchCapsInline' ;
  font-weight:normal;
  font-size: 12vw;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
	font-family: 'Pacifico', 'PacificoRegular', cursive;
	font-size:4vw;
	font-style:normal;
	margin:0px;

}

h3 {
	font-family: 'BlanchCapsRegular', arial;
	font-size:53px;
	font-weight:normal;
	color:#FFFFFF;
	margin:20px 0px 20px 0;

}

h4 {
	font-family: 'BlanchCapsRegular', arial;
	font-size:30px;
	font-weight:normal;
	color:rgb(225,86,97);

}

p {
	font-family: Arial, sans-serif;
	font-weight:normal;
	font-size:14px;
	line-height: 18px;
	color:#363636
}

p a {
	text-decoration: none;
	color: rgb(220,79,83);
}

p a:hover{
	color: rgb(248,202,105);
}

/* site */

html, body {
	height:100%;
}

.container {
	padding-top:63px;
}

.slide {
	height: 100%;
	position: relative;
	margin: 0;
	padding: 0;
}

/* nav */

.navbar-default {
  text-align: center;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 63px;
	margin:0;
	background-color:#383838 !important;
  border-color: #383838 !important;
	filter:alpha(opacity=70);
	/* CSS3 standard */
	opacity:0.7;
	z-index: 1;
}

.navbar-header {
  height: 63px;
}



@media only screen and (max-width : 768px) {
  .navbar-collapse {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .navbar-toggle {
    margin-top: 13px;
  }

  .navbar-nav {
    margin-top: 0px !important;
    width: 100%;
  }

  .navbar-nav li {
    display: block !important;
    margin: 0px !important;
  }

  .nav .navbar-nav {
    float: none;
    vertical-align: top;
  }

}

@media (min-width : 768px) {
  .form-horizontal .control-label {
    padding-top: 0px !important;
  }

  .home-small {
    display: none;
  }
}

@media (max-width : 768px) {
  .home-title > h1 {
    font-size: 90px;
  }

  .home-big {
    display: none;
  }
  .home-small {
    font-size: 30px;
  }
}

.navbar-nav {
	display:inline-block;
  float: none !important;
	text-align:center !important;
}
.navbar-nav li {
  display:inline;
	margin:10px;
  text-decoration:none;
	background-color:#383838 !important;
  color:#FFFFFF;
  font-family: 'BlanchCapsRegular', arial;
  font-size:30px;
  font-weight:400;
  text-shadow: #000 0 0 0;
}
.navbar-nav li:hover {
  color:#bebebe;
  font-weight:400;
  text-shadow: #000 0 0 0;
	cursor: pointer;
}

/* BOTTOM NAVIGATION */

#bottom-nav {
	z-index:100;
	position:fixed;
	bottom:0px;
	width:100%;
	height:70px;
	margin:0;
}
#bottom-nav img{
	display:block;
	margin:0 auto;
	margin-top:10px;
	opacity: .2;
	filter:alpha(opacity=20);
}
#next{
	z-index:100;
	position:fixed;
	bottom:0px;
	width:100%;
	height:70px;
	margin:0;
	background: url(images/footer-slice.png) repeat-x;
	cursor: pointer;
	opacity: 0;
	filter:alpha(opacity=0);
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
	-ms-transition:     opacity 0.5s;
}
#next:hover {
	opacity: 1;
	filter:alpha(opacity=100);
}
#next img{
	display:block;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	left:0;
	right:0;
	opacity: 1;
	filter:alpha(opacity=100);
}
#next .box{
	position:absolute;
	width:100%;
	height:170px;
	margin:0;
	background-color:#383838;
	opacity: 1;
	filter:alpha(opacity=100);
}

/* HOME SLIDE */

.home {
	background-color: #FCE3CE;
}

.home .content-box{
	height:340px;
	margin-top:-187px;
}

.home-img {
	display:block;
	margin: auto;
	position: relative;
	text-indent: -9999px;
	width: 540px;
	height: 335px;
  color: black;
	background: url(images/kl-title.png) no-repeat;
}

/* OUR STORY */

@media (min-width : 991px) {
  .story-small {
    display: none;
  }
}

@media (max-width : 991px) {
  .story-big {
    display: none;
  }

  .story-small > h2 {
    font-size: 5vw;
  }

  .too-long > h4 {
    font-size: 27px;
  }

  .nav-tabs>li>a {
    border: 0px;
  }

  .nav>li>a:hover, .nav>li>a:active {
    text-decoration: initial;
    background-color: #FFF2B4;
    border:1px solid #e15661;
    border-bottom-color: #e15661;
  }

  .nav-tabs {
    border-bottom: 1px solid #e15661;
  }

  .nav-tabs>li>a:hover {
    border-color: #e15661;
  }

  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #FFF2B4;
    border:1px solid #e15661;
    border-bottom-color: #e15661;
  }
}

@media (min-width: 720px) and (max-width : 991px) {
  .nav-tabs > li > a, .nav-pills > li > a {
    margin-left:25px;
    margin-right:27px;
  }
}

@media (min-width: 645px) and (max-width : 720px) {
  .nav-tabs > li > a, .nav-pills > li > a {
    margin-left:20px;
    margin-right:22px;
  }
}

@media (min-width: 605px) and (max-width : 645px) {
  .nav-tabs > li > a, .nav-pills > li > a {
    margin-left:17px;
    margin-right:19px;
  }
}

@media (min-width: 575px) and (max-width : 605px) {
  .nav-tabs > li > a, .nav-pills > li > a {
    margin-left:15px;
    margin-right:17px;
  }
}

@media (min-width: 535px) and (max-width : 575px) {
  .nav-tabs > li > a, .nav-pills > li > a {
    margin-left:12px;
    margin-right:14px;
  }
}

@media (min-width: 505px) and (max-width : 535px) {
  .nav-tabs > li > a, .nav-pills > li > a {
    margin-left:10px;
    margin-right:12px;
  }
}

@media (min-width: 465px) and (max-width : 505px) {
  .nav-tabs > li > a, .nav-pills > li > a {
    margin-left:7px;
    margin-right:9px;
  }
}

@media (min-width: 437px) and (max-width : 464px) {
  .nav-tabs > li > a, .nav-pills > li > a {
    margin-left:5px;
    margin-right:7px;
  }
}

@media (min-width: 409px) and (max-width : 437px) {
  .nav-tabs > li > a, .nav-pills > li > a {
    margin-left:3px;
    margin-right:5px;
  }
}

@media (max-width : 409px) {
  .nav-tabs > li > a, .nav-pills > li > a {
    margin-left:3px;
    margin-right:3px;
  }
}

.story {
	background-color: #FFF2B4;
}

.story-title {
	display:block;
	margin: auto;
	position: relative;
	text-indent: -9999px;
	width: 785px;
	height: 75px;
	background: url(images/title-sprites.png) 0 0;
  margin-top: 25px;
	margin-bottom:25px;
}

.story h1 {
  color: rgb(225,86,97);
}

.story h2 {
	display:block;
	position: relative;
	text-align: center;
	color: rgb(225,86,97);
}

.timeline {
	position:relative;
  display:flex;
	overflow:auto;
	margin-top:20px;
	height:290px;
  justify-content:center;
  align-items: center top;
	background: url(images/arrow.png) no-repeat;
	background-position: center top;
}

.first-big {
	background: url(images/j.png) no-repeat;
	margin-left:100px;
	margin-top:26px;
}

.second-big {
	background: url(images/o.png) no-repeat;
	margin-left:70px;
	margin-top:26px;
}

.third-big {
	background: url(images/u.png) no-repeat;
	margin-left:50px;
	margin-top:26px;
}

.fourth-big {
	background: url(images/r.png) no-repeat;
	margin-left:90px;
	margin-top:26px;
}

.fifth-big {
	background: url(images/n.png) no-repeat;
	margin-left:50px;
	margin-top:26px;
}

.sixth-big {
	background: url(images/e.png) no-repeat;
	margin-left:80px;
	margin-top:26px;
}

.seventh-big {
	background: url(images/y.png) no-repeat;
	margin-left:20px;
	margin-top:26px;
}

.first-big span {
	background: url(images/j.png) no-repeat;
}

.second-big span {
	background: url(images/o.png) no-repeat;
}

.third-big span {
	background: url(images/u.png) no-repeat;
}

.fourth-big span {
	background: url(images/r.png) no-repeat;
}

.fifth-big span {
	background: url(images/n.png) no-repeat;
}

.sixth-big span {
	background: url(images/e.png) no-repeat;
}

.seventh-big span {
	background: url(images/y.png) no-repeat;
}

.heart-big {
	display:block;
	position: relative;
	text-indent: -9999px;
	width: 46px;
	height: 44px;
  float:left;
  cursor: pointer;
}

.heart-big span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-position: -46px 0;
	opacity: 0;
	filter:alpha(opacity=0);
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
	-ms-transition:     opacity 0.5s;
}
.heart-big:hover span {
	opacity: 1;
	filter:alpha(opacity=100);
}

.first-small {
	background: url(images/j.png) no-repeat;
  margin-left: auto;
  margin-right: auto;
	margin-top:26px;
}

.second-small {
	background: url(images/o.png) no-repeat;
	margin-top:26px;
}

.third-small {
	background: url(images/u.png) no-repeat;
	margin-top:26px;
}

.fourth-small {
	background: url(images/r.png) no-repeat;
	margin-top:26px;
}

.fifth-small {
	background: url(images/n.png) no-repeat;
	margin-top:26px;
}

.sixth-small {
	background: url(images/e.png) no-repeat;
	margin-top:26px;
}

.seventh-small {
	background: url(images/y.png) no-repeat;
	margin-top:26px;
}

.first-small span {
	background: url(images/j.png) no-repeat;
}

.second-small span {
	background: url(images/o.png) no-repeat;
}

.third-small span {
	background: url(images/u.png) no-repeat;
}

.fourth-small span {
	background: url(images/r.png) no-repeat;
}

.fifth-small span {
	background: url(images/n.png) no-repeat;
}

.sixth-small span {
	background: url(images/e.png) no-repeat;
}

.seventh-small span {
	background: url(images/y.png) no-repeat;
}

.heart-small {
	display:block;
	position: relative;
	text-indent: -9999px;
	width: 46px;
	height: 44px;
  float:left;
  cursor: pointer;
}

.heart-small span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-position: -46px 0;
	opacity: 0;
	filter:alpha(opacity=0);
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
	-ms-transition:     opacity 0.5s;
}

.heart-small:hover span {
	opacity: 1 !important;
	filter:alpha(opacity=100) !important;
}

.highlights {
  height: 44px;
}

.highlights h4 {
  font-family: 'BlanchCapsRegular', arial !important;
	font-size:28px;
	font-weight:normal;
	color:rgb(225,86,97);
	display:none;
  position:absolute;
  background-color: #FFF2B4;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width:900px;
  top:80px;
	text-align: center;
	opacity: 0;
	filter:alpha(opacity=0);
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
	-ms-transition:     opacity 0.5s;
}
.highlights:hover h4{
	display:block;
	opacity: 1;
	filter:alpha(opacity=100);
}
.highlights h4 span{
	font-size: 40px;
	line-height: 40px;
}

/* Wedding INFO */

@media (min-width : 1200px) {
  .info-content-small {
    display: none;
  }
}

@media (max-width : 1200px) {
  .map, .info-content-big {
    display: none;
  }

  .info-content-small > .text-center > h2 {
    margin-top: 20px;
    margin-bottom:40px;
  }
  .info-content-small h3 {
    margin-bottom: -5px;
  }
}

.info {
	background-color: #DEF4F4;
}

.map {
  padding-top: 20px;
}

.info-title {
	display:block;
	margin: auto;
	position: relative;
	text-indent: -9999px;
	width: 785px;
	height: 75px;
	background: url(images/title-sprites.png) 0 -75px;
	margin-bottom:50px;
}

.info h1 {
  color: #496d6d;
}

.info-content-big h2 {
	margin-left:0;
	margin-bottom:20px;
  font-size: 45px;
	color:#496d6d;
}
.info-content-big h3 {
  margin: 0px;
  margin-bottom: -5px;
  font-size: 40px;
  color: #3c3737;
}

.info-content-small h2 {
	margin-left:0;
	margin-bottom:20px;
  font-size: 45px;
	color:#496d6d;
}
.info-content-small h3 {
  margin: 0px;
  margin-bottom: -5px;
  font-size: 40px;
  color: #3c3737;
}

.more-info{
  margin-top:20px;
}
#inline1 {
	padding:25px;
}
#inline1 span{
	text-align: center;
}
.line-seperator{
	display:block;
	margin:auto;
	margin-top:28px;
	margin-bottom:28px;
	height:1px;
	width:450px;
	background:#bbbbbb;
}
.get-directions{
	margin-top:10px;
  margin-left: auto;
  margin-right: auto;
}
.btn{
	background-color: #496d6d;
	position:relative;
	margin:0;
	text-align:center;
  font-color: white;
	font-family: 'BlanchCapsRegular', arial;
	font-size:30px !important;
	font-weight:normal;
	text-decoration:none;

	 -webkit-transition-property:color, background-color;
	 -webkit-transition-duration: .5s, .5s;
	 -webkit-transition-timing-function: linear, ease-in;
	 -moz-transition-property:color, background-color;
	 -moz-transition-duration: .5s, .5s;
	 -moz-transition-timing-function: linear, ease-in;
	 -o-transition-property:color, background-color;
	 -o-transition-duration: .5s, .5s;
	 -o-transition-timing-function: linear, ease-in;
	 -ms-transition-property:color, background-color;
	 -ms-transition-duration: .5s, .5s;
	 -ms-transition-timing-function: linear, ease-in;
}

.info .btn{
	padding: 10px 95px 10px 95px;
	background-color:#496d6d;
	color:#FFFFFF !important;
}

.info .btn:hover {
	color: #496d6d !important;
	background-color:#FFFFFF;
}

.directions.btn{
	padding: 10px 79px 10px 79px;
	background-color:rgb(248,191,84);
	color:#FFFFFF;
}
.directions.btn:hover {
	color: rgb(220,79,83);
	background-color:#FFFFFF;
}



/* WEDDING PARTY */

.party {
	background-color: #ADB79A;
}

.party h1 {
  color: #65493D;
}

.party h3 {
  font-size: 40px;
  color: #65493D;
}

@media (max-width : 768px) {
  .party h3 {
    font-size: 28px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .party h3 {
    font-size: 35px;
  }
}

.party h3 > a {
  color: #65493D;
}

/* RSVP */

.rsvp {
	background-color: #E3D3E8;
}

.rsvp h1 {
  color: #45415E;
}

.rsvp-now{
	display:block;
}

.form-group {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

label {
	text-align: right;
	font-family: 'BlanchCapsRegular', arial;
	font-size:38px;
	font-weight:normal;
	color:#45415E;
  margin-top: -5px;
}

textarea {
  resize: none;
  border-width: 0px;
}

input {
  border-width: 0px;
}


#name-form, #guest-form, #attending-form {
	width:300px;
	font-size:30px;
	color:#4a4a4a;
}

.submit{
	margin:0;
	padding:0;
  width: 100%;
}

.submit-btn{
	position:relative;
	margin-left:0;
	margin-right:0;
	margin-bottom:0;
  width: 100%;
	background-color: #45415E;
	font-family: 'BlanchCapsRegular', arial;
	font-size:35px;
	font-weight:normal;
	color:#FFFFFF;
	text-decoration:none;
	border:0;
	cursor:pointer;

	 -webkit-transition-property:color, background-color;
	 -webkit-transition-duration: .5s, .5s;
	 -webkit-transition-timing-function: linear, ease-in;
	 -moz-transition-property:color, background-color;
	 -moz-transition-duration: .5s, .5s;
	 -moz-transition-timing-function: linear, ease-in;
	 -o-transition-property:color, background-color;
	 -o-transition-duration: .5s, .5s;
	 -o-transition-timing-function: linear, ease-in;
	 -ms-transition-property:color, background-color;
	 -ms-transition-duration: .5s, .5s;
	 -ms-transition-timing-function: linear, ease-in;
}

.submit-btn:hover {
	color: #45415E;
	background-color:#FFFFFF;
	border:0;
}

.questions{
	clear:both;
	margin-top:20px;
	text-align:center;
}
.questions a{
	color:rgb(248,191,84);
	text-decoration:none;
}

